{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">

      <div class="shadow p-4 rounded bg-light">
        <h3 class="text-center mb-4">Customer Registration</h3>
        <hr>

        <!-- Message block -->
        {% if messages %}
          {% for message in messages %}
            <p class="alert alert-{{ message.tags }} mb-3">{{ message }}</p>
          {% endfor %}
        {% endif %}

        <!-- Registration Form -->
        <form action="" method="post" novalidate>
          {% csrf_token %}
          
          {% for fm in form %}
            <div class="form-group mb-3">
              {{ fm.label_tag }}
              {{ fm }}
              <small class="text-danger">{{ fm.errors|striptags }}</small>
            </div>
          {% endfor %}

          <input type="submit" value="Register" class="btn btn-primary">

          <!-- Existing User Link -->
          <div class="text-center text-primary fw-bold mt-3">
            <small>Existing User? 
              <a href="{% url 'login' %}" class="text-danger">Login Now</a>
            </small>
          </div>

          <!-- Non-field Errors -->
          {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
              <p class="alert alert-danger mt-3">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </form>
      </div>

    </div>
  </div>
</div>
{% endblock main-content %}
