.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}



  .video-bg-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
    overflow: hidden;
  }

  .video-bg-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
  }

